@using EduchemLPR
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css?ver=@Program.ENV["CACHE_VERSION"]">
    <link rel="stylesheet" href="/css/home.css?ver=@Program.ENV["CACHE_VERSION"]">
    <link rel="stylesheet" href="/lib/pure-min.css">
    <link rel="stylesheet" href="/css/themes/light.css">
    <title>EDUCHEM LAN Party</title>

    <!-- Favicony -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon_black.ico" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon_white.ico" type="image/x-icon" media="(prefers-color-scheme: dark)">
</head>
<body>
    <div class="center">
        <h1>SUMMER LAN Party - 2025</h1>

        <div class="menu">
            <a href="/rezervace" class="pure-button">Rezervace</a>
            <a href="/info" class="pure-button" target="_blank">Informace</a>
        </div>
    </div>
</body>
</html>