@using EduchemLPR
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/lib/pure-min.css">
    <link rel="stylesheet" href="/css/themes/light.css">
    <title>Login • EDUCHEM LAN Party</title>

    <!-- Favicony -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon_black.ico" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon_white.ico" type="image/x-icon" media="(prefers-color-scheme: dark)">
</head>
<body>
    <img id="app-wallpaper" src="@Program.APP_WALLPAPER" />
    <form method="post" id="authform"></form>

    <div class="center">
        <img src="/images/logo.svg"/>
        <p class="placeholder">KLÍČ</p>

        <input type="text" name="username" form="authform" value="default" style="display: none">
        <input type="password" name="key" form="authform" required minlength="12">

        @if (TempData["error"] != null) {
            <p class="errormsg" style="margin-top: 16px; color: red; text-align: center">@TempData["error"]</p>
        }
        <input type="submit" form="authform" class="button-primary">
    </div>
</body>
</html>