<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservations.css">
    <link rel="stylesheet" href="/lib/pure-min.css">
    <link rel="stylesheet" href="/css/themes/light.css">
    <link rel="stylesheet" href="/css/components/switch.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="flex">
            <div class="display"></div>
            <div class="controls">
                <div>
                    <h1>Rezervace</h1>
                    <p>
                        Mám vlastní setup:
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </p>
                </div>

                <div>
                    <p>Počet zabraných pc: xx</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module">
    import {vue} from "/scripts/reservations.js";
    console.warn(vue);
</script>
</html>