@using EduchemLPR
@using EduchemLPR.Classes
@using EduchemLPR.Classes.Objects
@{
    User? user = Utilities.GetLoggedAccountFromContextOrNull() ?? await Auth.ReAuthUserAsync();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservations.css">
    <link rel="stylesheet" href="/lib/pure-min.css">
    <link rel="stylesheet" href="/css/themes/light.css">
    <link rel="stylesheet" href="/css/components/switch.css">
    <script src="/lib/vue@(Program.DEVELOPMENT_MODE ? "_dev" : "").js"></script>
    <title>Rezervace • EDUCHEM LAN Party</title>

    <!-- Favicony -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon_black.ico" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon_white.ico" type="image/x-icon" media="(prefers-color-scheme: dark)">
</head>
<body>
    <img id="app-wallpaper" src="@Program.APP_WALLPAPER" />

    <div id="app">
        <div class="flex">
            <div class="display">

                <!-- Možnosti při vlastním setupu -->
                <template v-if="temp.ownSetup">
                    <div class="rooms">
                        <div class="room" v-for="(room, i) in rooms" :key="i" v-bind:style="setRoomStyle(room)">
                            <h1>{{ room.id }}</h1>
                            <p>{{ room.reservedBy?.length }}/{{ room.limitOfSeats }}</p>
                        </div>
                    </div>
                </template>

                <!-- Možnosti při výběru místnosti -->
                <template v-if="!temp.ownSetup">
                    <h1 class="selectroom-txt" v-if="temp.room === null">Vyber místnost</h1>

                    <h1 class="roomname" v-if="temp.room === 'vt3'">VT3</h1>
                    <h1 class="roomname" v-if="temp.room === 'vrr'">VRR</h1>


                    <!-- PC Učebny -->
                    <div v-if="temp.room && static.pcrooms[temp.room]" class="room">
                        <p class="label">{{ static.pcrooms[temp.room].label }}</p>

                        <div id="pcroom" class="pcroom">
                            <div v-for="(row, rowIndex) in static.pcrooms[temp.room].pcs" :key="rowIndex" class="row">
                                <div v-for="(pair, pairIndex) in row" :key="pairIndex" class="pair">
                                    <div v-for="pc in pair" :id="`${temp.room.toUpperCase()}_PC${pc}`" class="pc" v-bind:style="setPCStyle(`${temp.room.toUpperCase()}_PC${pc}`)">
                                        <p>{{ pc }}</p>

                                        <div class="info">
                                            <p class="status" v-if="getComputer(`${temp.room.toUpperCase()}_PC${pc}`) == null">Nedostupný ({{ temp.room.toUpperCase() + '_PC' + pc }})</p>
                                            <p class="status" v-else-if="getComputer(`${temp.room.toUpperCase()}_PC${pc}`)?.reservedBy == null">Volné ({{ temp.room.toUpperCase() + '_PC' + pc }})</p>
                                            <p class="status" v-else-if="getComputer(`${temp.room.toUpperCase()}_PC${pc}`)?.reservedByMe === true">Tvá rezervace ({{ temp.room.toUpperCase() + '_PC' + pc }})</p>
                                            <p class="status" v-else>Rezervováno ({{ temp.room.toUpperCase() + '_PC' + pc }})</p>

                                            <p class="name" v-if="getComputer(`${temp.room.toUpperCase()}_PC${pc}`)?.reservedBy != null && getComputer(`${temp.room.toUpperCase()}_PC${pc}`)?.reservedBy != 'someone'">
                                                {{ getComputer(`${temp.room.toUpperCase()}_PC${pc}`).reservedBy }}<span v-if="getComputer(`${temp.room.toUpperCase()}_PC${pc}`)?.reservedByClass != null">, {{ getComputer(`${temp.room.toUpperCase()}_PC${pc}`).reservedByClass }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <div class="controls">
                <div class="settings">
                    <h1>Rezervace</h1>
                    <p>
                        Mám vlastní setup:
                        <label class="switch">
                            <input type="checkbox" v-model="temp.ownSetup">
                            <span class="slider round"></span>
                        </label>
                    </p>
                    <p v-if="!temp.ownSetup">
                        Místnost:
                        <select v-model="temp.room" v-on:change="saveRoomToLocalStorage()">
                            <option value="vt3">VT3</option>
                            <option value="vrr">VRR</option>
                        </select>
                    </p>
                </div>

                <div class="info">
                    <p v-cloak>Počet zabraných PC: <strong>{{ pcs?.filter(x => x.reservedBy != null)?.length ?? "00" }}/{{ pcs?.length ?? "00" }}</strong></p>
                    <p v-cloak>Počet zabraných míst: <strong>{{ getRoomsReserved() }}/{{ getRoomsMax() }}</strong></p>
                    <p v-cloak>Celkem rezervací: <strong>{{ getRoomsReserved() + (pcs?.filter(x => x.reservedBy != null)?.length ?? 0) }}</strong></p>
                </div>


                <div class="logininfo">
                    @if (user != null) {
                        <p>Přihlášen jako: <strong>@user.DisplayName</strong></p>
                        <p>Třída: <strong>@(user.Class ?? "???")</strong></p>
                        <p>Typ účtu: <strong>@user.AccountType</strong></p>
                        <a class="button-primary" style="margin-top: 16px" href="/auth/logout?r=/rezervace">Odhlásit se</a>
                    } else {
                        <p class="logintxt">Pro rezervování <a href="/login?r=/rezervace">se musíš přihlásit</a>.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module">
    import {vue} from "/scripts/reservations.js";
</script>
</html>