.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px) brightness(0.6);

    .closebutton {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        background-color: var(--element-bg);
        z-index: 1;
        border-radius: 100%;
        top: 6px;
        right: 6px;
        transition-duration: 0.3s;

        &:hover {
            transition-duration: 0.3s;
            background-color: var(--element-bg-colored);
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            mask-image: url("../../../public/images/icons/x.svg");
            mask-size: 70%;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: var(--text-color);
        }
    }

    &:is(.confirmation-modal) .modal-content {
        max-width: 330px;
        border-radius: 24px;
        padding: 24px;

        .closebutton {
            top: 12px;
            right: 12px;
        }

        >.icon {
            width: 64px;
            height: 64px;
            margin: 0 auto;
            mask-image: url(../../../public/images/icons/warn.svg);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            position: relative;
            margin-bottom: 24px;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--accent-color);
                z-index: 1;
            }
        }

        >h1 {
            font-size: 24px;
            text-align: center;
            font-weight: 600;
            margin: 0;
            margin-bottom: 12px;
        }

        >p {
            text-align: center;
            //font-size: 20px;
            color: var(--text-color-secondary);

            >span {
                font-weight: 600;
                color: var(--accent-color);
            }
        }

        >.buttons {
            display: flex;
            gap: 16px;
            margin-top: 20px;
            width: 100%;
            position: relative;
            box-sizing: border-box;

            >button {
                flex-grow: 1;
                width: calc(100% / 2 - 8px);
            }
        }
    }

    &:is(.user-modal) .modal-content {
        border-radius: 24px;
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 6;
        width: 90vw;
        max-width: 400px;
        padding: 0;
        box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.22);

        .closebutton {
            top: 12px;
            right: 12px;
        }
        
        >.top {
            position: relative;
            width: 100%;
            min-height: 180px;
            background-color: var(--text-color-3);
            margin-bottom: 50px;

            >.banner {
                position: absolute;
                width: 100%;
                height: 100%;
                //overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: var(--bg);
                    background-color: rgba(0, 0, 0, 0.5);
                    background-size: 120% 100%;
                    background-position: bottom center;
                    filter: blur(40px);
                }
            }

            >.userdefined-banner {
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: var(--banner) !important;
                z-index: 0;
                pointer-events: none;
                border-radius: 8px;
            }

            >.avatar {
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 100%;
                margin: 0 auto;
                transform: translateY(50px);
                background-color: var(--accent-color);
                overflow: hidden;
                //box-shadow: 0 0 10px 0 gray;

                &::before {
                    content: var(--before-content);
                    position: absolute;
                    border-radius: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 100px;
                    color: var(--background-color);
                    font-family: 'gabarito', sans-serif;
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    background-image: var(--avatar);
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        >.bottom {
            padding: 30px;
            box-sizing: border-box;

            .namediv {
                position: relative;
                display: flex;
                gap: 24px;
                align-items: center;
                justify-content: space-between;

                .connected-platforms {
                    display: flex;
                    gap: 8px;

                    div {
                        width: 20px;
                        aspect-ratio: 1/1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        background-color: var(--text-color);
                        opacity: 0.2;
                    }
                }
            }

            .res-en, .res-dis {
                margin: 4px 0 0 0;
                font-size: 14px;
                opacity: 0.25;
            }

            .res-en {
                color: var(--accent-color);
                opacity: 0.5;
            }

            h1 {
                margin: 0;
                font-family: gabarito, leaguespartan, sans-serif;
                font-size: 28px;
                font-weight: 750;
            }

            .vtom {
                margin: 0;
                color: gray;
                font-weight: normal;
            }

            .switch-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                //margin-top: 12px;
    
                >p {
                    font-size: 16px;
                    //color: var(--text-color-secondary);
                }
            }

            .edit-delete-buttons-div {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-top: 16px;

                &:not(&:has(*)) {
                    display: none;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 16px;

                .child {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .icon {
                        position: relative;
                        width: 15px;
                        height: 15px;
                        background-color: var(--text-color-secondary);
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        flex-shrink: 0;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: gray;
                        }
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 8px 16px;
                flex-wrap: wrap;
                margin-top: 16px;
                justify-content: space-between;
            }

            .separator {
                height: 1px;
                background-color: var(--text-color-3);
                width: 100%;
                margin: 16px 0;
            }

            input, select {
                padding: 5px;
                border-radius: 5px;
                width: 100%;
                font-family: "gabarito", sans-serif;
                font-size: 16px;

                &:focus {
                    outline: none;
                    border-color: gray;
                }

                &::placeholder {
                    color: #d7d7d7;
                    font-weight: normal;
                }
            }

            select option {
                background-color: var(--background-color-primary);
            }
        }

        &:is(.loading) {
            &:before {
                content: '';
                position: fixed;
                width: 100vw;
                height: 100vh;
                backdrop-filter: grayscale(1);
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 7;
            }

            &:after {
                content: '';
                position: fixed;
                width: 100px;
                height: 100px;
                background-image: url(../../../public/images/icons/loading_black.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 8;
            }
        }


        .delete-confirmation {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            box-sizing: border-box;

            p {
                margin: 0;
                font-size: 24px;
                max-width: 300px;
                text-align: center;
            }

            >div {
                display: flex;
                gap: 20px;
                justify-content: flex-end;

                button {
                    flex-grow: 1;
                }
            }
        }

        .loading-div {
            padding: 30px;
            position: relative;

            .icon {
                width: 150px;
                height: 150px;
                margin: 0 auto;
                mask-image: url(../../../public/images/icons/loading.svg);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    z-index: 1;
                }
            }

        }
    }


    >.close-div {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--element-bg);
        padding: 20px;
        border: 1px solid var(--element-bg-colored);
        border-radius: 8px;
        width: 90vw;
        max-width: 400px;
        min-width: 40px;
        min-height: 40px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
    }
}