body {
    //background-image: url("/images/hexagon.svg");
    //background-image: url("/images/luminary.svg");
    background-color: var(--color-yellow);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 12px;

    >.display, >.controls >div {
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        //backdrop-filter: blur(0.15vw);
        //border: solid 2px white;
    }

    >.display {
        flex-grow: 1;
        aspect-ratio: 16/9;
        max-height: 75vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: relative;

        >.roomname {
            margin: 0;
            position: sticky;
            top: 0;
        }

        >.selectroom-txt {
            margin: 0;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        >.tabule {
            text-align: center;
            margin-top: 0;
        }

        >.room {
            position: relative;

            >.label {
                text-align: center;
                margin-top: 0;
                padding-bottom: 24px;
            }

            .pcroom {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 36px;


                >.row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 124px;

                    >.pair {
                        display: flex;
                        flex-direction: row;
                        gap: 12px;
                        background-color: rgba(255, 255, 255);
                        padding: 12px;
                        border-radius: 8px;

                        >.pc {
                            background-color: var(--bg);
                            padding: 12px 24px;
                            position: relative;
                            margin-top: -36px;
                            border-radius: 8px;
                            width: 80px;

                            &:hover {
                                transform: scale(1.1);
                                z-index: 2;
                            }

                            >p {
                                margin: 0;
                                font-size: 24px;
                                user-select: none;
                                font-family: "Rajdhani", sans-serif;
                                text-align: center;
                            }

                            &:hover >.info {
                                opacity: 1;
                                display: flex;
                            }

                            /*&:nth-child(1) >.info {
                                left: unset;
                                right: 80%;
                            }*/

                            >.info {
                                top: -60%;
                                left: 80%;
                                display: none;
                                flex-direction: column;
                                gap: 6px;
                                position: absolute;
                                padding: 12px;
                                border-radius: 8px;
                                opacity: 0;
                                transition: opacity 0.5s;
                                background-color: white;
                                color: black;
                                z-index: 2;
                                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
                                cursor: auto;
                                pointer-events: var(--modal-pointer-events);


                                >.status {
                                    font-size: 20px;
                                    font-family: "Rajdhani", sans-serif;
                                    width: max-content;
                                    text-decoration: underline var(--bg);
                                    margin: 0;
                                }

                                >.name {
                                    margin:0;
                                    font-size: 16px;
                                    width: max-content;
                                }

                                >button {
                                    background-color: var(--bg);
                                    transition-duration: 0.3s;

                                    &:hover {
                                        filter: brightness(0.9);
                                        transition-duration: 0.3s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        >.rooms {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 12px;
            top: 50%;
            transform: translateY(-50%);
            position: relative;

            >.room {
                min-width: 80px;
                min-height: 80px;
                background-color: var(--bg);
                border-radius: 8px;
                padding: 16px;
                user-select: none;
                border-bottom: 10px solid white;

                >h1 {
                    margin: 0;
                    text-align: center;
                }

                >p {
                    margin: 0;
                    text-align: center;
                }

                &:hover {
                    transform: scale(1.1);
                    z-index: 2;
                }
            }
        }
    }

    >.controls {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-self: start;

        >.logininfo {
            display: flex;
            flex-direction: column;
            gap: 6px;
            min-width: 255px;

            p {
                margin: 0;
            }

            >.logintxt {
                align-items: center;
                margin: 0;

                >a {
                    color: var(--color-yellow);
                    text-decoration: underline;
                }
            }
        }

        >.info {
            display: flex;
            flex-direction: column;
            gap: 6px;
            min-width: 250px;

            p {
                margin: 0;
            }
        }

        >.settings {
            h1 {
                margin: 0;
            }
        }
    }
}