body {
  background-color: var(--color-yellow);
  background-size: cover;
  background-repeat: no-repeat;
}

.websocket-error {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  background-color: #ff8a80;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 24px;
  font-family: "Rajdhani", sans-serif;
  z-index: 100;
  user-select: none;
  border-radius: 8px;
}
.websocket-error p {
  margin: 0;
  font-size: 20px;
  color: black;
}

.flex {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 12px;
}
.flex > .display, .flex > .controls > div {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.flex > .display {
  flex-grow: 1;
  aspect-ratio: 16/9;
  max-height: 75vh;
  overflow-y: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.flex > .display > .roomname {
  margin: 0;
  position: sticky;
  top: 0;
}
.flex > .display > .rooms > .room > .info,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info {
  top: -60%;
  left: 80%;
  display: none;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  padding: 12px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: white;
  color: black;
  z-index: 2;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.35);
  cursor: auto;
  pointer-events: var(--modal-pointer-events);
}
.flex > .display > .rooms > .room > .info > .status,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > .status {
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  width: max-content;
  text-decoration: underline var(--bg);
  margin: 0;
}
.flex > .display > .rooms > .room > .info > .logintxt,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > .logintxt {
  margin: 0;
  min-width: 160px;
  font-size: 14px;
}
.flex > .display > .rooms > .room > .info > .logintxt > a,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > .logintxt > a {
  color: var(--color-yellow);
  text-decoration: underline;
}
.flex > .display > .rooms > .room > .info > .name,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > .name {
  margin: 0;
  font-size: 16px;
  width: max-content;
}
.flex > .display > .rooms > .room > .info > button,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > button {
  background-color: var(--bg);
  transition-duration: 0.3s;
}
.flex > .display > .rooms > .room > .info > button:hover,
.flex > .display > .room > .pcroom > .row > .pair > .pc > .info > button:hover {
  filter: brightness(0.9);
  transition-duration: 0.3s;
}
.flex > .display > .selectroom-txt {
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.flex > .display > .tabule {
  text-align: center;
  margin-top: 0;
}
.flex > .display > .room {
  position: relative;
}
.flex > .display > .room > .label {
  text-align: center;
  margin-top: 0;
  padding-bottom: 24px;
}
.flex > .display > .room .pcroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.flex > .display > .room .pcroom > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 124px;
}
.flex > .display > .room .pcroom > .row > .pair {
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 8px;
}
.flex > .display > .room .pcroom > .row > .pair > .pc {
  background-color: var(--bg);
  padding: 12px 24px;
  position: relative;
  margin-top: -36px;
  border-radius: 8px;
  width: 80px;
  /*&:nth-child(1) >.info {
      left: unset;
      right: 80%;
  }*/
}
.flex > .display > .room .pcroom > .row > .pair > .pc:hover {
  transform: scale(1.1);
  z-index: 2;
}
.flex > .display > .room .pcroom > .row > .pair > .pc > p {
  margin: 0;
  font-size: 24px;
  user-select: none;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
}
.flex > .display > .room .pcroom > .row > .pair > .pc:hover > .info {
  opacity: 1;
  display: flex;
}
.flex > .display > .rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.flex > .display > .rooms > .room {
  min-width: 80px;
  min-height: 80px;
  background-color: var(--bg);
  border-radius: 8px;
  padding: 16px;
  border-bottom: 10px solid white;
}
.flex > .display > .rooms > .room > h1 {
  margin: 0;
  text-align: center;
  user-select: none;
}
.flex > .display > .rooms > .room > p {
  margin: 0;
  user-select: none;
  text-align: center;
}
.flex > .display > .rooms > .room:hover {
  transform: scale(1.1);
  z-index: 2;
}
.flex > .display > .rooms > .room:hover > .info {
  opacity: 1;
  display: flex;
}
.flex > .display > .rooms > .room > .info {
  top: 0;
}
.flex > .display > .rooms > .room > .info > .names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 24px;
  margin: 0;
}
.flex > .display > .rooms > .room > .info > .names > p {
  margin: 0;
  width: max-content;
}
.flex > .controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: start;
}
.flex > .controls > .logininfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 255px;
}
.flex > .controls > .logininfo p {
  margin: 0;
}
.flex > .controls > .logininfo > .logintxt {
  align-items: center;
  margin: 0;
}
.flex > .controls > .logininfo > .logintxt > a {
  color: var(--color-yellow);
  text-decoration: underline;
}
.flex > .controls > .info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 250px;
}
.flex > .controls > .info p {
  margin: 0;
}
.flex > .controls > .settings h1 {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .flex {
    position: relative;
    flex-direction: column-reverse;
    gap: 12px;
    width: 100%;
    margin: 0 auto;
    left: unset;
    padding: 5vw;
    transform: unset;
  }
  .flex > .display {
    width: 100%;
    max-height: unset;
    aspect-ratio: unset;
    overflow-y: auto;
  }
  .flex > .display > .rooms {
    top: unset;
    transform: unset;
  }
  .flex > .display > .room .pcroom {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flex > .display > .room .pcroom > .row {
    gap: 64px;
  }
  .flex > .display > .room .pcroom > .row > .pair > .pc {
    width: 65px;
    padding: 12px 16px;
  }
  .flex > .display > .room .pcroom > .row > .pair > .pc > p {
    font-size: 20px;
  }
  .flex > .controls {
    width: 100%;
  }
  .flex > .controls > div {
    width: 100%;
  }
}

/*# sourceMappingURL=reservations.css.map */
