* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

::selection {
    background-color: var(--accent-color);
    color: white;
}

html:is(.darkmode) {
    --accent-color: #ff8100;
    --element-bg: #1e1e1e;
    --background-bg: #141414;
    --text-color: #f3f3f3;
}

html:is(.lightmode) {
    --accent-color: #ff8300;
    --element-bg: white;
    --element-bg-colored: #ffe8cc;
    --background-bg: #f8f6f1;
    --text-color: #0c0c0c;
    --text-color-secondary: #606060;

    // pro mapu
    --pc-available: var(--accent-color);
    --room-available: #ff4d00;
    --pc-unavailable: #797676;
    --pc-taken-by-you: #ffd500;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'leaguespartan';
    font-family: 'gabarito';
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}

p,a,div,span,button,input,textarea,select,label,li,ul {
    font-family: 'gabarito';
    margin: 0;
    color: var(--text-color);
}

@font-face {
    font-family: 'gabarito';
    src: url('../public/fonts/gabarito.ttf') format('opentype');
}

@font-face {
    font-family: 'leaguespartan';
    src: url('../public/fonts/leaguespartan-bold.ttf') format('opentype');
    font-weight: 800;
}