* {
    box-sizing: border-box;
}

html:is(.noselect) {
    * {
        user-select: none;
    }
}

html, body {
    margin: 0;
}

::selection {
    background-color: var(--accent-color);
    color: var(--accent-color-text);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-3);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--element-bg);
    border-radius: 8px;
}

:root {
    --toastify-font-family: 'Gabarito', calibri, arial, sans-serif;
    --toastify-color-success: var(--accent-color);
    --toastify-color-error: var(--error-color);
}

html:is(.theme-dark) {
    --accent-color: #ffb303;
    --accent-color-text: black;
    --accent-color-darker: #d39706;
    --element-bg: #171717;
    --element-bg-colored: #252115;
    --bg: black;
    --background-bg: #101010;
    --background-bg-2: #1c1c1c;
    --text-color: #f3f3f3;
    --text-color-darker: #afafaf;
    --text-color-secondary: #e0e0e0;
    --text-color-3: #2a2a2a;
    --error-color: #de2828;
    --error-color-2: #9d1b1b;
    --error-background: #2c1717;
    --bgimage: url('../public/images/backgrounds/island_night.jpg');
    --applayout-right-titlebar-border-color: var(--background-bg-2);

    // pro mapu
    --pc-available: var(--accent-color);
    --room-available: #ff4d00;
    --pc-unavailable: #595959;
    --pc-taken-by-you: #f7ff00;
    --shapes-color: #1c1c1c;
    --table-color: #212121;
    --line-color: #464646;
}

html:is(.theme-light) {
    --accent-color: #ff8300;
    --accent-color-text: white;
    --accent-color-darker: #d96f01;
    --element-bg: white;
    --element-bg-colored: #ffe8cc;
    --bg: white;
    --background-bg: #f8f6f1;
    --background-bg-2: #fffdf7;
    --text-color: #0c0c0c;
    --text-color-darker: #afafaf;
    --text-color-secondary: #606060;
    --text-color-3: #e3e3e3;
    --error-color: #ff0000;
    --error-color-2: #6c0000;
    --error-background: #ffb7b7;
    --bgimage: url('../public/images/backgrounds/island3.jpg');
    --applayout-right-titlebar-border-color: transparent;

    // pro mapu
    --pc-available: var(--accent-color);
    --room-available: #ff4d00;
    --pc-unavailable: #96826b;
    --pc-taken-by-you: #ffd500;
    --shapes-color: #f4f4f4;
    --table-color: #d9d9d9;
    --line-color: #585858;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'leaguespartan';
    font-family: 'gabarito', calibri, arial, sans-serif;
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}

p,a,div,span,button,input,textarea,select,label,li,ul {
    font-family: 'gabarito', calibri, arial, sans-serif;
    margin: 0;
    color: var(--text-color);
}

@font-face {
    font-family: 'gabarito';
    src: url('../public/fonts/gabarito.ttf') format('opentype');
}

@font-face {
    font-family: 'leaguespartan';
    src: url('../public/fonts/leaguespartan-bold.ttf') format('opentype');
    font-weight: 800;
}


.button-primary,
.button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    user-select: none;
    text-decoration: none;
    text-align: center;

    >.icon {
        width: 16px;
        height: 16px;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
    }
}

.button-primary {
    background-color: var(--accent-color);
    color: var(--accent-color-text);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    font-weight: 600;
    transition: background-color 0.2s;

    >.icon {
        background-color: var(--accent-color-text);
    }

    &:hover {
        background-color: var(--accent-color-darker);
    }

    &:disabled {
        color: var(--accent-color-text);
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: var(--accent-color);
        }
    }
}

.button-secondary {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    font-weight: 600;
    transition: background-color 0.2s;

    >.icon {
        background-color: var(--accent-color);
    }

    &:hover {
        background-color: var(--element-bg-colored);
    }
}

.button-tertiary {
    background-color: transparent;
    color: var(--text-color-secondary);
    border: 1px solid var(--text-color-3);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    //font-weight: 600;
    transition: background-color 0.2s;

    >.icon {
        background-color: var(--accent-color);
    }

    &:hover {
        background-color: var(--element-bg-colored);
    }
}

.button-tertiary-rich {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color-darker);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    //font-weight: 600;
    transition: background-color 0.2s;

    >.icon {
        background-color: var(--accent-color);
    }

    &:hover {
        background-color: var(--background-bg);
    }
}

.button-primary,
.button-secondary,
.button-tertiary,
.button-tertiary-rich {
    &:is(.style-rounder) {
        padding: 12px 16px;
        border-radius: 16px;
        font-size: 16px;
        border-width: 1px;
        font-weight: normal;
    }

    &:disabled {
        cursor: not-allowed;
    }
}


input, select, textarea {
    background-color: var(--element-bg);
    color: var(--text-color);
    border: 1px solid var(--element-bg-colored);
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: border-color 0.2s;

    &:focus, &:focus-visible {
        outline: none;
    }

    &:disabled {
        color: var(--text-color-3);
        //border: 1px solid var(--text-color-3);
        cursor: not-allowed;
        user-select: none;
    }
}


@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}

@media (max-width: 299px) {
    #root {
        display: none;
    }

    html:before {
        content: "Vaše zařízení je moc malé na zobrazení aplikace. Použijte prosím větší zařízení.";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: var(--text-color);
        width: 90vw;
        text-align: center;
        font-family: 'Gabarito', calibri, arial, sans-serif;
    }
}