.page-account {
    .info {
        justify-items: center;
        align-items: center;
        margin-top: 128px;
        display: flex;
        flex-direction: column;

        .avatar {
            margin-bottom: 16px;
        }

        h1 {
            text-align: center;
        }

        .email {
            text-align: center;
            color: var(--text-color-secondary);
        }

        .type {
            font-size: 12px;
            color: var(--accent-color);
            margin-top: 4px;
        }

        >.buttons {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            //flex-direction: column;
            justify-content: center;
            gap: 8px;
        }
    }

    .settingstab-flex {
        display: flex;
        gap: 16px;
        margin-top: 48px;
        justify-content: space-between;

        >.left {
            >.nadpis {
                font-size: 20px;
                font-weight: 600;
                color: var(--text-color-secondary);
                margin-bottom: 16px;
            }

            >.items {
                display: grid;
                gap: 8px;

                >.item {
                    &:not(:nth-last-child(1)) {
                        border-bottom: 1px solid var(--text-color-3);
                    }

                    >.content {
                        width: 300px;
                        display: flex;
                        margin-bottom: 8px;
                        gap: 24px;
                        align-items: center;

                        &:is(.active) {
                            >p {
                                background-color: var(--element-bg-colored);
                                color: var(--accent-color);
                                pointer-events: none;
                                transition-duration: 0.2s;
                                box-shadow: none;
                            }
                        }

                        >.icon {
                            width: 48px;
                            height: 48px;
                            border-radius: 4px;
                            border: 1px solid var(--text-color-3);
                        }

                        >.button {
                            width: 16px;
                            height: 16px;
                            mask-image: url('../../../public/images/icons/arrowhead_left.svg');
                            mask-size: cover;
                            mask-repeat: no-repeat;
                            background-color: var(--text-color-3);
                            rotate: 180deg;
                            cursor: pointer;
                            margin-left: auto;
                        }

                        >p {
                            font-weight: 600;
                            border-radius: 8px;
                            color: var(--text-color-secondary);
                            box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
                            transition-duration: 0.2s;
                        }
                    }

                }
            }
        }
    }
}