.page-account {
    .info {
        justify-items: center;
        align-items: center;
        margin-top: 128px;
        display: flex;
        flex-direction: column;

        .avatar {
            margin-bottom: 16px;
        }

        h1 {
            text-align: center;
        }

        .email {
            text-align: center;
            color: var(--text-color-secondary);
        }

        .type {
            font-size: 12px;
            color: var(--accent-color);
            margin-top: 4px;
        }

        >.buttons {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            //flex-direction: column;
            justify-content: center;
            gap: 8px;
        }
    }

    .settingstab-flex {
        display: flex;
        gap: 64px;
        margin-top: 48px;
        justify-content: space-between;
        flex-wrap: wrap;

        .nadpis {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 16px;
        }

        >.left {

            >.items {
                display: grid;
                gap: 16px;

                >.item {
                    user-select: none;

                    &:is(.disabled) {
                        opacity: 0.5;
                        pointer-events: none;
                    }

                    &:is(.active) {
                        >.content {
                            background-color: var(--element-bg-colored);

                            >p {
                                color: var(--accent-color);
                                pointer-events: none;
                                transition-duration: 0.2s;
                                box-shadow: none;
                            }

                            >.icon {
                                background-color: var(--accent-color);
                                border: 1px solid transparent;

                                &::before {
                                    background-color: var(--accent-color-text);
                                }
                            }

                            >.button {
                                mask-image: url('../../../public/images/icons/trash.svg');
                                rotate: 0deg;
                                background-color: var(--accent-color);
                            }
                        }
                    }

                    >.content {
                        width: 300px;
                        display: flex;
                        gap: 24px;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 8px;
                        background-color: var(--element-bg);
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);

                        >.icon {
                            width: 48px;
                            height: 48px;
                            border-radius: 8px;
                            border: 1px solid var(--text-color-3);

                            &::before {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 100%;
                                mask-image: var(--icon);
                                mask-size: 60%;
                                mask-position: center;
                                mask-repeat: no-repeat;
                                background-color: var(--text-color-secondary);
                            }
                        }

                        >.button {
                            width: 12px;
                            height: 12px;
                            mask-image: url('../../../public/images/icons/plus.svg');
                            mask-size: cover;
                            mask-repeat: no-repeat;
                            background-color: var(--text-color-darker);
                            rotate: 180deg;
                            cursor: pointer;
                            margin-left: auto;
                        }

                        >p {
                            font-weight: 600;
                            border-radius: 8px;
                            color: var(--text-color-secondary);
                            transition-duration: 0.2s;
                        }
                    }

                }
            }
        }

        >.middle {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .nadpis {
                margin-bottom: 0;
            }

            .pair {
                display: flex;
                flex-direction: column;
                gap: 4px;
                align-items: start;
                width: 250px;

                input,select {
                    width: 100%;
                }
            }

            .pwdconditions {
                >p:is(.valid) {
                    text-decoration: line-through;
                }
            }

            .buttons {
                display: flex;
                gap: 16px;
                margin-top: 16px;

                button {
                    width: 100%;
                }
            }
        }

        >.right {
            display: flex;
            flex-wrap: wrap;
            gap: 64px 96px;
            align-items: start;

            .nadpis {
                margin-bottom: 0;
            }

            >.texts {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .pair {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    align-items: start;

                    input,select {
                        width: 100%;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 16px;
                    margin-top: 16px;
                }
            }
        }

        .avatar-edit {
            display: flex;
            flex-direction: column;
            gap: 24px;
            $avatarWidth: 264px;
            justify-content: center;

            >.avatar-div,
            >.banner-div {
                display: flex;
                gap: 16px;
            }

            >.banner-div {
                >.banner {
                    width: $avatarWidth;
                    aspect-ratio: 3/1;
                    background-color: var(--element-bg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: var(--banner) !important;
                    z-index: 0;
                    pointer-events: none;
                    border-radius: 8px;
                    position: relative;

                    &:is(.empty)::before {
                        content: 'Banner';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: var(--text-color-secondary);
                    }
                }
            }

            >.avatar-div {
                >.avatar {
                    margin: 0;
                    width: $avatarWidth;

                    .letter {
                        font-size: calc($avatarWidth / 3);
                    }
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                width: fit-content;
                margin: 0;

                >div {
                    box-sizing: content-box;
                    width: 16px;
                    height: 16px;
                    border-radius: 12px;
                    background-color: var(--element-bg);
                    border: 1px solid var(--element-bg-colored);
                    padding: 12px;
                    cursor: pointer;
                    position: relative;
                    transition-duration: 0.3s;

                    &:hover {
                        background-color: var(--element-bg-colored);
                        transition-duration: 0.3s;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        mask-image: var(--m);
                        background-color: var(--text-color-secondary);
                        mask-size: cover;
                        mask-repeat: no-repeat;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .page-account {
        .settingstab-flex {
            flex-direction: column;

            .pair {
                width: 100% !important;
            }

            >.left {
                >.items {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    >.item {
                        .content {
                            width: 100%;
                        }
                    }
                }
            }

            >.middle {
                width: 100%;
            }

            >.right {
                width: 100%;

                >div {
                    width: 100%;
                }

                .texts {
                    .buttons {
                        button {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }
}