.area-selector {
    display: flex;
    gap: 16px;
    margin: 24px 0;

    >p {
        padding: 12px;
        font-weight: 600;
        border-radius: 8px;
        color: var(--text-color-secondary);
        background-color: var(--element-bg);
        user-select: none;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
        transition-duration: 0.2s;

        &:is(.active)  {
            background-color: var(--element-bg-colored);
            color: var(--accent-color);
            pointer-events: none;
            transition-duration: 0.2s;
            box-shadow: none;
        }

    }
}

.users-wrapper {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 24px;
        border-radius: 8px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
        overflow: hidden;

        thead th {
            padding: 20px 12px;
        }

        th {
            background-color: var(--element-bg);
            color: var(--accent-color);
            font-weight: 600;
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid var(--element-bg-colored);
        }

        td {
            padding: 12px;
            border-bottom: 1px solid var(--element-bg-colored);
        }

        tbody tr {
            transition-duration: 0.2s;
            cursor: pointer;
            background-color: var(--background-bg-2);

            &:nth-child(even) {
                background-color: var(--element-bg);
            }

            &:hover {
                background-color: var(--element-bg-colored);
            }


            &:is(.loggeduser) {
                .name p {
                    font-weight: bold;

                    &::after {
                        content: '(Ty)';
                        margin-left: 12px;
                        color: var(--accent-color);
                        font-weight: 600;
                    }
                }
            }

            .name {
                display: flex;
                gap: 12px;
                align-items: center;
            }
        }
    }
}