.chat-parent {
    width: 100%;
    height: 100%;
    display: flex;
    //border: 1px solid #ffffff;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
    overflow: hidden;

    >.messages {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;

        >.chat-message {
            max-width: 60%;
            padding: 12px;
            border-radius: 10px;
            font-size: 16px;
            display: flex;
            align-items: flex-start;
            gap: 8px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);

            >.avatar {

            }

            >.texts {
                h1 {
                    font-size: 16px;
                }
            }

            &.own-message {
                align-self: flex-end;
                background-color: var(--accent-color);
                color: var(--accent-color-text);

                >p {
                    color: var(--accent-color-text);
                }
            }

            &.other-message {
                align-self: flex-start;
                background-color: var(--element-bg);
                color: black;

                article {
                    color: var(--text-color-darker);
                }
            }
        }
    }

    >.inputdiv {
        display: flex;
        align-items: center;

        >input {
            width: 100%;
            padding: 12px;
            padding-right: 40px;
            border-radius: 8px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
            background-color: var(--element-bg);
            color: var(--text-color);
            height: 48px;
            border: 2px solid transparent;

            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
        >.sent-message-button {
            position: absolute; // potrebuju radu jestli jsem to udelal spravne 
            right: 64px;
            padding: 8px;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            mask-image: url("../../../public/images/icons/sent_icon.svg");
            cursor: pointer;
            background-color: var(--text-color);
        }

        /*>button {
            padding: 8px;
            border: none;
            border-radius: 10px;
            background-color: var(--accent-color);
            color: var(--accent-color-text);
            cursor: pointer;
        }*/
    }
}

@media (max-width: 768px) {
    .chat-parent {
        overflow: unset ;

        >.messages {
            overflow: unset;
            padding-bottom: 64px;

            >.chat-message {
                max-width: 80%;
            }
        }

        >.inputdiv {
            position: fixed;
            bottom: 64px;
            width: calc(100% - 48px);
            z-index: 1;

            >.sent-message-button {
                right: 12px;
            }

            &::before {
                content: "";
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100vw;
                height: 96px;
                background-color: var(--background-bg);
                border-radius: 8px;
                z-index: -1;
            }
        }
    }
}