#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-bg);
    overflow: hidden;

    >.left {
        min-width: 250px;
        height: 100vh;
        background-color: var(--element-bg);
        border-radius: 0 48px 0 0;
        padding: 48px;
        box-shadow: 0 0 6px rgba(0,0,0,0.025);

        >.menu {
            display: flex;
            flex-direction: column;
            gap: 4px;

            >a {
                text-decoration: none;

                &:is(.active) {
                    background-color: var(--accent-color);
                    color: white;
                }
            }
        }
    }

    >.right {
        position: relative;
        flex: 1;
        padding: 48px;
        display: flex;
        flex-direction: column;
    }
}