#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f1f2f8;
    overflow: hidden;

    >.left {
        min-width: 250px;
        height: 100vh;
        background-color: #ffffff;
        border-radius: 0 48px 0 0;
        padding: 48px;

        >.menu {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    >.right {
        position: relative;
        flex: 1;
        padding: 48px;
        height: 100vh;
    }
}