.map-page {
    .right {
        .area-selector {
            display: flex;
            gap: 16px;
            margin: 24px 0;

            >p {
                padding: 12px;
                font-weight: 600;
                border-radius: 8px;
                color: var(--text-color-secondary);
                background-color: var(--element-bg);
                user-select: none;
                cursor: pointer;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.025);
                transition-duration: 0.2s;

                &:is(.active)  {
                    background-color: var(--element-bg-colored);
                    color: var(--accent-color);
                    pointer-events: none;
                    transition-duration: 0.2s;
                    box-shadow: none;
                }

            }
        }
    }

    .map {
        width: 100%;
        height: 80vh;
        position: relative;
        background-color: var(--element-bg);
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0,0,0,0.025);
        max-height: calc(100vh - 48px - 48px - 80px - 24px - 24px);


        >.zoomsettings {
            position: absolute;
            box-sizing: content-box;
            top: 24px;
            left: 24px;
            display: flex;
            z-index: 2;
            border: solid 1px var(--text-color-3);
            border-radius: 12px;
            overflow: hidden;
            background-color: var(--element-bg);

            >.zoom-in, >.zoom-out {
                transition-duration: 0.3s;
                position: relative;

                &:hover {
                    background-color: var(--text-color-3);
                }

                &::after {
                    content: "+";
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    color: var(--text-color-secondary);
                    font-size: 24px;
                    font-weight: 10;
                }
            }

            >.zoom-in{
                width: 48px;
                aspect-ratio: 1/1;
                cursor: pointer;
                transition-duration: 0.2s;
                border-right: solid 1px var(--text-color-3);
            }

            >.zoom-out {
                &::after {
                    content: "-";
                }

                width: 48px;
                aspect-ratio: 1/1;
                transition-duration: 0.2s;
                cursor: pointer;
            }
        }

        >.legend {
            position: absolute;
            bottom: 24px;
            left: 24px;
            z-index: 2;
            background-color: var(--element-bg);
            padding: 16px;
            border-radius: 12px;
            pointer-events: none;
            user-select: none;

            >h3{
                font-size: 16px;
                //font-weight: 500;
                margin-bottom: 8px;
                color: var(--accent-color);
            }

            >.legend-item {
                display: flex;
                gap: 8px;
                align-items: center;
                margin-bottom: 8px;

                >p {
                    color: var(--text-color-secondary);
                }

                >div {
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                }
            }
        }

        >.chart {
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 2;
            background-color: var(--element-bg);
            padding: 16px;
            border-radius: 12px;
            pointer-events: none;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 16px;

            >.texts {
                >h1{
                    color: var(--accent-color);
                }

                >p {
                    font-size: 16px;
                    color: var(--text-color-secondary);
                }
            }

        }

        >.rightbottom {
            display: flex;
            gap: 16px;
            position: absolute;
            bottom: 24px;
            right: 24px;
            z-index: 2;

            >.viewers {
                background-color: var(--element-bg-colored);
                //border: 1px solid var(--accent-color);
                padding: 8px;
                border-radius: 8px;
                user-select: none;
                display: flex;
                align-items: center;
                gap: 8px;

                >p {
                    color: var(--accent-color);
                    font-size: 16px;
                }

                >.logo {
                    width: 16px;
                    aspect-ratio: 1/1;
                    background-color: var(--accent-color);
                    mask-image: url("../../../public/images/icons/eye.svg");
                    mask-size: cover;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }

            >.serverstatus {
                background-color: var(--element-bg);
                border: 1px solid var(--text-color-3);
                padding: 8px;
                border-radius: 8px;
                user-select: none;
                display: flex;
                align-items: center;
                gap: 8px;

                &:is(.disconnected) {
                    border: 1px solid var(--error-color-2);
                    animation: dsjfoidsgof 1s infinite ease-in-out;

                    >p {
                        color: var(--text-color-secondary);
                    }

                    >.icon {
                        mask-image: url("../../../public/images/icons/disconnected.svg");
                    }

                    @keyframes dsjfoidsgof {
                        0% {
                            background-color: var(--element-bg);
                        }
                        50% {
                            background-color: var(--error-background);
                        }
                        100% {
                            background-color: var(--element-bg);
                        }
                    }
                }

                &:is(.connected) {
                    opacity: 0;
                    pointer-events: none;
                    display: none;
                    animation: pisodjfdpjdf 2s ease-in-out;

                    >.icon {
                        mask-image: url("../../../public/images/icons/successmark.svg");
                    }

                    @keyframes pisodjfdpjdf {
                        0% {
                            opacity: 1;
                            display: flex;
                        }
                        70% {
                            display: flex;
                            opacity: 1;
                        }
                        100% {
                            display: none;
                            opacity: 0;
                        }
                    }
                }

                >p {
                    color: var(--text-color);
                    font-size: 16px;
                }

                >.icon {
                    width: 16px;
                    aspect-ratio: 1/1;
                    background-color: var(--text-color);
                    mask-image: url("../../../public/images/icons/spinner.svg");
                    mask-size: cover;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }
        }

        svg {
            position: absolute;
            transition-duration: 0.3s;
            top: 0;
            left: 0;
            //width: 100%;
            height: 100%;
            z-index: 1;

            /*.scaleTransition {
                transition-duration: 0.3s;
            }*/


            .pc {
                fill: transparent;
                pointer-events: none;

                &:is(.unavailable) {
                    fill: var(--pc-unavailable);
                    pointer-events: all;
                }

                &:is(.taken-by-you) {
                    pointer-events: all;
                    fill: var(--pc-taken-by-you);
                }

                &:is(.available) {
                    pointer-events: all;
                    fill: var(--pc-available);
                }
            }

            .room {
                fill: transparent;
                pointer-events: none;

                &:is(.unavailable) {
                    fill: var(--pc-unavailable);
                    pointer-events: all;
                }

                &:is(.taken-by-you) {
                    pointer-events: all;
                    fill: var(--pc-taken-by-you);
                }

                &:is(.available) {
                    pointer-events: all;
                    fill: var(--room-available);
                }
            }

            line {
                stroke: var(--line-color);
            }

            rect {
                fill: var(--shapes-color);
            }

            .table {
                fill: var(--table-color);
            }

            .text {
                fill: var(--text-color);
            }

            .lighttext {
                fill: var(--shapes-color);
            }


            circle {
                transition-duration: 0.3s;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.7);
                    transition-duration: 0.3s;
                }
            }
        }
    }
}